/* * {
  outline: red solid 1px;
} */

body {
  background-color: #FAEBD7;
  width: 100%;
  height: 100vh;

}

h1 {
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  margin-top: 40px;
}

p {
  text-align: center;
  font-size: 1.7em;
  margin-top: 40px;
}

div {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* gap: 20px; */
  /* height: 50%; */
}

img {
  width: 100%;
  height: 100%;
  margin: 10px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

div>p {
  margin: 0;
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
}

.img {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}