body {
  background-image: url(../img/fondo_multiplicar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

section {
  margin-left: 55%;
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9F8170;
  opacity: 0.8;
  padding: 20px;
  margin-top: 10%;
  border-radius: 5px;
}

h1 {
  font-size: 2em;
  margin: 0;
}

p {
  text-align: center;
  font-size: 1.2em;
}